asgiref==3.8.1
dj-database-url==3.0.0
Django==5.2.3
et_xmlfile==2.0.0
gunicorn==23.0.0
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
